.login-form {
    -fx-background-color: #d5d5d5;
}

.rectangle-1 {
    -fx-background-color: #aa0000;
    -fx-pref-width: 412px;
    -fx-pref-height: 600px;
}

.welcome-to-the-cinema-management-xuan-khanh-cgv {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Lexend";
    -fx-alignment: center;
}

.login-account {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #aa0000;
}

.custom-textfield {
    -fx-background-color: white;
    -fx-background-radius: 40;
    -fx-font-size: 16px;
    -fx-pref-height: 50px;
    -fx-pref-width: 450px;
    -fx-padding: 10;
}

.login-button {
    -fx-background-color: #aa0000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 4;
}

.forgot-password {
    -fx-text-fill: #aa0000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
